.logo,
.search {
  border: 1px solid #fff;
  background-color: grey;
  width: 200px;
  text-align: center;
  line-height: 100px;
  height: 100px;
  color: #fff;
}
.logo img {
  height: 3.75em;
}
.navbar {
  display: flex;
  padding: 1em 0;
  background: #d33a2c;
  position: relative;
  min-height: 6.2375rem;
}
.menu-items {
  display: flex;
  flex-flow: row nowrap;
  width: 90%;
  justify-content: space-between;
  background-color: grey;
}
.menu-items li {
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 20%;
  font-family: "Roboto", sans-serif;
  border: 1px solid #fff;
}
.article {
  background-color: #d33a2c;
  display: flex;
  flex-wrap: wrap;
  min-height: 0;
}
.article h1 {
  margin-left: 37%;
  font-family: MijaInitial;
  font-size: 39px;
  text-align: center;
}
.article-title span {
  background-color: #fff;
  padding: 0.3em 0.4em;
  line-height: 1.5em;
}
.featured-article1,
.featured-article2 {
  background-color: #bc3428;
  font-family: Mija;
  width: 50%;
  flex-direction: column;
  display: flex;
  padding: 10em 5vw 7em;
  position: relative;
  font-weight: 700;
  color: #fff;
}
.article-summary {
  margin-top: 15%;
}
.tags {
  margin-top: 10%;
}
.featured-article2 {
  background-color: #c7372a;
}
.featured-articles {
  display: flex;
  width: 100%;
  
}

/*divider*/

.see-articles{
  min-height: 300px;
  width: 100%;
  background: white;
  text-align: center;

}

.see-link{
  padding-top: 200px;
}

.see-articles a:link {
  color: black;
  border-bottom: 4px solid #D33A2D;
  text-decoration: none;
}

.see-articles a:hover {
  color: #D33A2D;
  text-decoration: none;
}

/* footer*/

.container{
  text-align: center;
  min-height: 650px;
  padding-top: 40px;
  font-size: 20px;
  background: #D33A2D;
  color: #ffffff;
}

.container p{
  margin-top: 40px;
  font-size: 18px;
}

.container2{
  display: block;
  max-width: 70%;
  margin-left: 15%;
  margin-top: 40px;
  min-height: 200px;
  padding-top: 40px;
  font-size: 24px;

}
.item {
  margin-bottom: 40px;
  margin-right: 5px;
  display: inline-block;

}
  .item::before{
  content: "•";
  color: #811D17
}

.container3{
  max-width: 25%;
  margin-left: 38%;
  padding-top: 40px;
  margin-top: 40px;
  font-size: 18px;

}
.container a:link {
  color: #ffffff;
  text-decoration: none;
}

.container a:hover {
  color: black;
  text-decoration: none;
}
.bird{
  position: absolute;
  left: 10%;
}

.cat{
  position: absolute;
  right: 10%;
  margin-top: 40px;
}